@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

:root {
    --primary-color: #2bcbba;
    --light-color: #d1d8e0;
    --grey-color: #687080;
    --red-color: #ff4757;
    --flashwhite-color: #f1f2f6;
    --white-color: #ffffff;
    --dark-color: #212121;

    --primary-font: "Montserrat", sans-serif;
    --second-font: "Prata", serif;
    --fs14: 14px;
    --fw600: 600;

    --transition-color: color .3s;
    --transition-background: background-color .3s;
    --transition-border: border .3s;
    --transition-transform: transform .3s;

    --shadow: 0px 10px 20px 0px rgb(0 0 0 / 20%);

    --transition-opacity: opacity .3s;

    --fade: fade-bottom .3s cubic-bezier(0.39, 0.575, 0.565, 1) both;

}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
}

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    color: var(--dark-color);
    background-color: var(--white-color);
}

a {
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

ul {
    list-style: none;
}

p {
    margin: 0;
}

input,
textarea,
select {
    font: inherit;
    width: 100%;
}

input[type=checkbox],
input[type=radio] {
    width: auto;
}

input::placeholder,
textarea::placeholder {
    color: inherit;
    /* opacity: .8; */
}

button {
    font: inherit;
}

strong {
    font-weight: var(--fw600);
}

h1,
h2,
h3,
h4 {
    font-family: var(--second-font);
    font-weight: 400;
    line-height: normal;
    /* color: var(--dark-color); */
}

h1 {
    font-size: 2.75em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1em;
}


/* -------------------

    #Reused style

   ----------------- */


.container {
    max-width: var(--mx-width, 1200px);
    margin: 0 auto;
    padding: 0 var(--gutter, 15px);
}

.item-floating {
    position: absolute;
    top: -8px;
    right: 0px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 10px;
    font-weight: var(--fw600);
    color: var(--white-color);
    background-color: var(--primary-color);
}


/* -------------------

    #Gropping selector

   ----------------- */

.item-floating,
.header-center .branding {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-block a {
    position: relative;
    font-size: var(--fs14);
    color: var(--grey-color);
    padding: 5px 0px;
    display: inline-block;
    transition: var(--transition-color);
}

.list-block a:hover {
    color: var(--primary-color);
}

.list-block a::before {
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    background-color: var(--dark-color);
    top: 50%;
    left: -15px;
    bottom: 0;
    border-radius: 50%;
    transform: translateY(-50%);
    /* opacity: 0; */
    /* transition: var(--transition-opacity); */
    transition: width .3s, height .3s;
}

.list-block a:hover::before {
    /* opacity: 1; */
    width: 8px;
    height: 8px;
    background-color: var(--primary-color);
}

@keyframes fade-bottom {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }

}

.dot-title {
    font-family: var(--primary-font);
    font-size: var(--fs14);
    font-weight: var(--fw600);
    line-height: 34px;
}

.dot-title a {
    transition: var(--transition-color);
}

.dot-title a:hover {
    color: var(--light-color);
}




/* -------------------

    #Header

   ----------------- */

.inner-header {
    line-height: 80px;
    /* border-bottom: 1px solid var(--grey-color); */
}

.inner-header .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inner-header .menu>ul,
.list-inline>ul {
    display: flex;
    align-items: center;
}

.header-left,
.header-right {
    flex-grow: 1;
}

.header-center nav {
    display: none;
    grid-template-columns: 1fr 1fr;
    gap: 180px;
    max-width: 720px
}

.header-center .branding {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    pointer-events: none;
}

.header-center .branding a {
    font-family: var(--second-font);
    font-size: 30px;
    line-height: inherit;
    /* color: var(--dark-color); */
    pointer-events: auto;
}

.header-center .menu>ul>li>a {
    font-size: var(--fs14);
    font-weight: var(--fw600);
    text-transform: uppercase;
    padding: 0 14px;
    display: flex;
    gap: 5px;
}

.header-right ul {
    justify-content: flex-end;
}

.list-inline a,
.menu-trigger,
.close-trigger {
    position: relative;
    font-size: 24px;
    padding: 0 10px;
    line-height: 1;
    display: flex;
    transition: var(--transition-color);
}

.header-left .list-inline {
    display: none;
}

:where(.header-left, .header-right) li {
    display: flex;
    align-items: center;
    height: 80px;
}



/* -------------------

    #Header products

----------------------------*/

.dotgrid .wrapper {
    display: var(--display, grid);
    --grid-col: 175px;
    grid-template-columns: repeat(auto-fill, minmax(min(var(--grid-col), 100%), 1fr));
    gap: var(--gutter, 30px);
}

.dotgrid .dot-image {
    position: relative;
    margin-bottom: 15px;
    overflow: hidden;
}


.dotgrid .dot-image>a,
.dotgrid .thumbnail.hover,
.dotgrid .actions,
.dotgrid .dot-image .label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.dotgrid .dot-image>a {
    z-index: 1;
}

.dotgrid .actions {
    z-index: 2;
    /* opacity: 0; */
    /* transition: opacity .75s ease, transform 1.1s cubic-bezier(.15, .75, .5, 1) 0s; */
    /* backface-visibility: hidden; */
    /* transform: translateZ(0); */
}

.dotgrid .thumbnail.hover {
    opacity: 0;
    transition: opacity .75s ease, transform 1.1s cubic-bezier(.15, .75, .5, 1) 0s;
    backface-visibility: hidden;
    transform: translateZ(0);
}

.dotgrid .dot-image:hover .thumbnail.hover {
    opacity: 1;
    transform: scale3d(.99, .99, .99) translateZ(0);
}

.dotgrid .actions {
    z-index: 2;
    top: auto;
    bottom: 20px;
    transform: translate3d(0, 100%, 0);
    opacity: 0;
    transition: all .3s cubic-bezier(0, 0, .2, 1);
}

.dot-image:hover .actions {
    opacity: 1;
    transform: translateZ(0);
}

.dotgrid .actions ul,
.dotgrid .dot-image .label {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.dotgrid .actions ul li a,
.dotgrid .dot-image .label span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 42px;
    height: 42px;
    background-color: var(--white-color);
    border-radius: 50%;
    transition: var(--transition-background), var(--transition-color)
}

.dotgrid .dot-image .label {
    top: auto;
    bottom: 20px;

}

.dotgrid .dot-image .label span {
    font-size: 12px;
    font-weight: var(--fw600);
    background-color: var(--primary-color);
    color: var(--white-color);

}


.dotgrid .dot-info {
    text-align: center;
    margin-top: 15px;
}



.dotgrid .product-price .before {
    text-decoration: line-through;
}



/* -------------------
        
        # Search
        
        ----------------- */

/* search-float */

.inner-header .search-float {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    height: 80px;
    background-color: var(--white-color);
    z-index: 1000;
    display: none;
}

form.search {
    position: relative;
}

form.search :where(i) {
    position: absolute;
    left: 0;
    top: 0;
}

form.search .input {
    outline: 0;
    padding: 15px 50px;
}

form.search i {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 100%;
    /* color: var(--dark-color); */
    cursor: pointer;
}

form.search :where(i:last-child) {
    left: auto;
    right: 0;
}

.inner-header .search .input {
    display: flex;
    border: 0;
    height: 80px;
    font-size: 18px;
}





.dotgrid .actions ul li a:hover {
    color: var(--white-color);
    background-color: var(--dark-color);
    transition: ease .4s;

}


.search-float.active {
    display: block;
}

.overlay,
.mobile-menu {
    position: fixed;
    inset: 0;
}

.overlay {
    background-color: var(--dark-color);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 999;
    transition: opacity .3s, visibility .3s;
}

.overlay.active {
    opacity: .75;
    visibility: visible;
    pointer-events: all;
}


/* -------------------
        
            # Header: Mobile Menu
        
           ----------------- */

.mobile-menu {
    z-index: 1001;
    pointer-events: none;
}

.mobile-menu .wrap {
    position: relative;
    max-width: calc(100% - 40px);
    width: 360px;
    height: 160px;
    background-color: var(--white-color);
    pointer-events: auto;
}

.mobile-menu .close-trigger,
.mobile-menu .child-trigger {
    position: absolute;
    top: 0;
    right: -40px;
    width: 40px;
    height: 40px;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    /* cursor: pointer; */
}

.mobile-menu .main-menu {
    height: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

.main-menu nav>ul {
    padding: 20px 0;
}

.main-menu nav> ul > li >a {
    position: relative;
    padding: 12px 0;
    font-weight: 500;
    transition: var(--transition-color);
}

.main-menu nav li :where(li, a) {
    display: block;
    align-items: center;
}

.main-menu nav>ul>li>a:hover {
    color: var(--grey-color);
}

.mobile-menu .child-trigger{
    color: var(--dark-color);
    font-size: 20px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border-radius: 50%;
    transition: var(--transition-background);
    z-index: 1;
}

.mobile-menu .child-trigger:hover{
    background-color: var(--light-color);
    /* color: var(--white-color); */
}

.mobile-menu nav li .sub-menu {
    padding-left: 15px;
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: .3s ease-in-out;
}


.mobile-menu nav li.active .sub-menu {
    max-height: 1000px;
    visibility: visible;
}



@media (min-width: 992px) {
    .menu-trigger {
        display: none;
    }

    .header-center nav {
        display: grid;
    }

    .header-left .list-inline {
        display: block;
    }

    /* -------------------
    
        #Sub menu & Maga
    
       ----------------- */



    .mega-content {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 60px;
    }

    .mega-content .links {
        /* grid-column: span 2; */
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(135px, 1fr));
        gap: 15px 25px;
    }

    nav.menu :where(.sub-menu, .sub-mega) {
        position: absolute;
        top: auto;
        line-height: initial;
        background-color: var(--white-color);
        box-shadow: var(--shadow);
        z-index: 100000;
        display: none;
        animation: var(--fade);
    }

    nav.menu .sub-mega {
        left: 0;
        right: 0;
        padding: 50px 0px;
        /* display: block; */
    }

    nav.menu li:hover :where(.sub-menu, .sub-mega) {
        display: block;
    }

    nav.menu .sub-menu {
        padding: 10px 0px;
        min-width: 220px;
    }

    nav.menu .sub-menu li {
        padding: 5px 30px;
    }
}

@media (min-width: 1200px) {
    .container .wide {
        --mx-width: 1720px;
        --gutter: 40px;
    }
}

@media (min-width:1400px) {
    .mega-content {
        grid-template-columns: 2fr 1.7fr;
    }
}